
.App-Header-Row{
    display: flex;
    justify-content: space-between;
    background-color: rgb(125, 132, 137);
    padding: 10px;
}
.App-Header-Row button{
    background-color: rgb(3, 27, 44);
    height: 40px;
    width: 80px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.App-Header-Row button:hover{
    background-color: rgb(143, 156, 169);
}
.App-Header-Row .App-Header-Links{
    display: flex;
    gap: 10px;
    align-items: center;
}
.cart-count {
    color: rgb(1, 5, 10);
    margin-left: 3px;
}
.search-container input {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 200px;
}
.search-container button {
    padding: 5px 10px !important;
    margin: 0 0 0 5px !important;
    background-color: #3686dc !important;
    color: white;
    border: none !important;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    height: auto !important;
    width: auto !important;
}
.search-container button:hover {
    background-color: #0056b3 !important;
}
